version: "3"
services:
  nginx:
    build: 
      context: ./file/nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./www:/var/www/html/:rw
      - ./conf/conf.d:/etc/nginx/conf.d/:rw
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./log:/var/log/nginx/:rw
    restart: always
    networks:
      - default

  php73:
    build:
      context: ./file
      dockerfile: ./php73/Dockerfile
    ports:
      - 9000:9000
    volumes:
      - ./www:/var/www/html:rw
      - ./conf/php.ini:/usr/local/etc/php/php.ini:ro
      - ./conf/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf:rw
      - ./conf/php/conf.d:/usr/local/etc/php/conf.d:rw
    restart: always
    cap_add:
      - SYS_PTRACE
    networks:
      - default

  mysql:
    build:
      context: ./file/mysql
    ports:
      - 3306:3306
    volumes:
      - ./conf/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro
      - ./mysql:/var/lib/mysql/:rw
    restart: always
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: root1234

  redis:
    build:
      context: ./file/redis
    ports:
      - 6379:6379
    volumes:
      - ./conf/redis.conf:/etc/redis.conf:ro
    restart: always
    entrypoint: ["redis-server", "/etc/redis.conf"]
    networks:
      - default

  phpmyadmin:
    build:
      context: ./file/phpmyadmin
    ports:
      - 8080:80
    networks:
      - default
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306

  phpredisadmin:
    build:
      context: ./file/phpredisadmin
    ports:
      - "8081:80"
    networks:
      - default
    environment:
      - REDIS_1_HOST=redis
      - REDIS_1_PORT=6379

networks:
  default:
